@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <span style="display:inline;">
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "text-decoration:none" })
    </span>
}
